.pet-filter {
    display: flex;
    justify-self: center;
    background-color: $clr6;
    margin-right: auto;
    margin-left: auto;
    border-radius: 200px;
    max-width: 800px;
    left: 0;
    right: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    line-height: 1.3;

    @include for-mobile-layout {
        justify-content: space-between
    }

    &>a {
        display: flex;
        background-color: $clr1;
        margin: 5px 15px 10px 15px;
    }

    &>a:hover {
        background-color: $clr1;
        box-shadow: none;
        border-radius: 50px;
    }
}

.filter-search {
    display: flex;
    align-self: center;
    width: 29px;

    @include for-mobile-layout {
        width: 27px;
    }
}

.filter-select {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    padding: 10px 15px 10px 25px;
    border-radius: 50px;
    color: #6b6a6a;
    background-color: $clr6;

    .location-select {
        width: 65px
    }

    @include for-mobile-layout {
        padding: 6px 0px 6px 0;
    }

    @include for-narrow-layout {
        padding: 10px 10px 10px 25px;

        &:hover {
            box-shadow: 0 0 10px 0 #0000001c;
            z-index: 10;
        }
    }

}

.main-select {
    width: 66px;
    appearance: none;
    border: none;
    outline: none;
    border: none;
    font-size: 1rem;
    background-color: $clr6;
}

.gender-select {
    width: 25%;

    @include for-mobile-layout {
        padding: 6px px 6px 16px;
        width: 15%;
    }
}

.age-select {
    width: 25%;

    @include for-mobile-layout {
        width: 15%;
    }
}

.pet-select {
    margin-left: 2px;
    width: 14%;

    @include for-mobile-layout {
        padding: 6px 0px 6px 16px;
        margin-inline-end: 10px;
    }
}

.size-select {
    width: 25%;

    @include for-mobile-layout {
        width: 15%;
    }
}

.location-select {
    width: 130px;
    outline: none;
    border: none;
    width: 80%;
    min-width: 86px;
    // margin: 3.5px 0;
    margin-left: -2px;

    @include for-mobile-layout {
        display: none;
    }
}

.search-btn {
    background-color: $clr1;
    border-radius: 50%;
    width: 52.5px;
    height: 52.5px;
    align-self: center;
    padding-right: 23px;
    margin-right: 7px;

    .filter-search{
        fill: aliceblue;
        font-size: 30px;
        @include for-mobile-layout {
            padding-left: 3px;
        }
    }


    @include for-mobile-layout {
        width: 45px;
        height: 44px;
        padding-right: 0;
    }
}

.select-modal {
    position: absolute;
    margin-top: 20px;
    margin-right: 20px;
    background-color: $clr6;
    border-radius: 10px;
    right: -43px;
    text-align: center;
    animation: toggle-drop 0.1s;
    
    @keyframes toggle-drop {
        0% {
            opacity: 30%;
            margin-top: 0px;
        }
        
        100% {
            margin-top: 10px;
            opacity: 100%;
        }
    }
    
    @include for-mobile-layout {
        margin-top: 10px;
        right: -27px;
    }

    option {
        padding: 8px 30px;
        font-size: rem(20px);
        text-transform: capitalize;
        border-bottom: 1px solid $clr9;
        cursor: pointer;

        @include for-mobile-layout {
            padding: 6px 10px;
        }
    }

    option:last-of-type {
        border-bottom: none;
    }

    option:hover {
        background-color: hsla(0, 0%, 88.6%, 0.363);
        border-radius: 10px;
    }
}

.select-label {
    position: relative;
    width: 66px;
    color: $clr5;
    cursor: pointer;
}