
@font-face {
    font-family: avenir;
    src: url(../../fonts/avenir_ff/AvenirLTStd-Book.otf);
}
@font-face {
    font-family: avenir-black;
    src: url(../../fonts/avenir_ff/AvenirLTStd-Black.otf);
}
@font-face {
    font-family: Fjalla;
    src: url(../../fonts/Montserrat/FjallaOne-Regular.ttf);
}