// Colors
$clr1: #36b99f;
$clr2: #dff0ea;
$clr3: #1e1e1e;
$clr4: #727272;
$clr5: #9c9b9b;
$clr6: #ffffff;

//heart
$clr7: #FC3A3A;
$clr8: #FC3A3A50;
$clr9: lightgray;

// footer
$clr10:#ececec;
$clr11:#3b5998;
$clr12:#ea4c56;
$clr13:#1da1f2;

$clr14:lightslategrey;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1100px;